<footer class="footer">
    <div class="footer-section  footer-section-help">
        <div class="footer-container">
            <div class="needHelpWrapper">
                <span>Need help?</br></span>
                <span>Reach out to us on any of the support channel</span>
            </div>
            <div class="footer-logo-block">
                <img src="../img/Locator.png" alt="" class="footer-store-logo">
                <div class="footer-store-text-wrapper">
                    <span class="footer-store-bold">Store Locator</span>
                    <span class="footer-store-text">Find a store nearby</span>
                </div>
            </div>
            <div class="footer-logo-block">
                <img src="../img/Feedback.png" alt="" class="footer-store-logo">
                <div class="footer-store-text-wrapper">
                    <span class="footer-store-bold">Feedback</span>
                    <span class="footer-store-text">Send us your feedback</span>
                </div>
            </div>
            <div class="footer-logo-block">
                <img src="../img/Chat.png" alt="" class="footer-store-logo">
                <div class="footer-store-text-wrapper">
                    <span class="footer-store-bold">Chat Now</span>
                    <span class="footer-store-text">Chat on WhatsApp</span>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-section footer-section-company">
        <div class="footer-container">
            <div class="payment-wrapper">
                <div class="payment-content">
                    <span>Payment Method</span>
                    <div class="payment-img-wrapper">
                        <img src="https://s.sdgcdn.com/7/2022/03/Payment-visa.jpeg" alt="">
                        <img src="https://s.sdgcdn.com/7/2022/03/Payment-mastercard.jpg" alt="">
                        <img src="https://s.sdgcdn.com/7/2022/03/Payment-cod.jpg" alt="">
                        <img src="https://s.sdgcdn.com/7/2022/03/Payment-applePay.jpg" alt="">
                        <img src="https://s.sdgcdn.com/7/2022/03/Payment-paypal.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="member-evro-wrapper">
                <img src="https://s.sdgcdn.com/7/2022/04/member_of_the_euronics_group.png" alt="" class="footer-euro-img">
                <img src="https://s.sdgcdn.com/7/2022/03/Footer-consumerRights.jpg" alt="" class="footer-consumer-img">
            </div>
        </div>
    </div>
    <div class="footer-section footer-section-copyright">
        <div class="footer-container copyright-section">
            <span class="text-copyright">COPYRIGHT © 2023 SHARAF DG LLC. ALL RIGHTS RESERVED</span>
        </div>
    </div>
</footer>