<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shopping | Mobiles, Electronics & Appliances - Sharaf DG UAE</title>
    <link rel="shortcut icon" href="/img/sharaf-dg-uae-logo-mobile.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,500;6..12,600;6..12,700&family=Ubuntu&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/form.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/assets/css/itc-slider.css">
    <link rel="stylesheet" href="/assets/css/accordion.css">  
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
    <script>
        let navigation = `<%- navigation %>`
        localStorage.setItem("navigation", navigation)
    </script>
    <script src="/assets/js/script.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
    <%- include('header') %>
    <main class="main">
        <div class="container main_container">
            <div class="forms-flex">
                <div class="form_box">
                    <form class="forms account-forms" method="post" action="/order">
                        <div class="form-container">
                            <div class="form_section">
                                <h1>Shipping Address</h1>
                                <label for="forms-firstName" class="form_label">First Name* </label>
                                <input type="text" id="forms-firstName" name="firstName" placeholder="" class="form_input section1_input">
        
                                <label for="forms-lastName" class="form_label">Last Name* </label>
                                <input type="text" id="forms-lastName" name="lastName" placeholder=""  class="form_input section1_input">
        
                                <label for="forms-emirates" class="form_label">Emirates* </label>
                                <input type="text" id="forms-emirates" name="emirates" placeholder=""  class="form_input section1_input">
        
                                <label for="forms-area" class="form_label">Area* </label>
                                <input type="text" id="forms-area" name="area" placeholder=""  class="form_input section1_input">
        
                                <label for="forms-mobile" class="form_label">Mobile* </label>
                                <input type="text" id="forms-mobile" name="mobile" placeholder="+971"  class="form_input section1_input">
                            </div>
                            <div class="form_section">
                                <h1>Payment</h1>
                                <label for="forms-CardNumber" class="form_label">Card Number*</label>
                                <input type="text" name="cardNumber" id="forms-CardNumber" placeholder="" class="form_input">

                                <label for="forms-NameOnCard" class="form_label">Name on Card*</label>
                                <input type="text" name="nameOnCard" id="forms-NameOnCard" placeholder="" class="form_input">

                                <div class="payment_small_wrapper">
                                    <div>
                                        <label for="forms-ExpiryMonth" class="form_label">Expiry Month*</label>
                                        <select name="expiryMonth" id="forms-ExpiryMonth" class="form_input">
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </div>
    
                                    <div>
                                        <label for="forms-ExpiryYear" class="form_label">Expiry Year*</label>
                                        <select name="expiryYear" id="forms-ExpiryYear" class="form_input">
                                            <option value="23">2023</option>
                                            <option value="24">2024</option>
                                            <option value="25">2025</option>
                                            <option value="26">2026</option>
                                            <option value="27">2027</option>
                                            <option value="28">2028</option>
                                            <option value="29">2029</option>
                                            <option value="30">2030</option>
                                            <option value="31">2031</option>
                                            <option value="32">2032</option>
                                            <option value="33">2033</option>
                                            <option value="34">2034</option>
                                            <option value="35">2035</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label for="forms-CVV" class="form_label">CVV*</label>
                                        <input type="text" name="cvv" id="forms-CVV" placeholder="" class="form_input">
                                    </div>
                                </div>
                            </div>
                            <div class="form_section pay_settings_section">
                                <div class="saveCardWrapper">
                                    <input type="checkbox" id="forms-saveCard" class="form_checkbox saveCard_checkbox">
                                    <label for="forms-saveCard" class="labelSaveCard">Save this card for future use</label>
                                </div>
                                <div class="saveCardWrapper saveCardWrapperBlock">
                                    <div>
                                        <input type="radio" id="payment-formsApplePay" name="payMethod">
                                        <label for="payment-formsApplePay" class="settings_section_label">ApplePay</label>
                                    </div>
                                    <img src="../img/apple_pay.jpg" alt="">
                                </div>
                                <div class="saveCardWrapper saveCardWrapperBlock">
                                    <div>
                                        <input type="radio" id="payment-formsPayPal" name="payMethod">
                                        <label for="payment-formsPayPal" class="settings_section_label">PayPal</label>
                                    </div>
                                    <img src="../img/paypal.jpg" alt="">
                                </div>
                                <div class="saveCardWrapper saveCardWrapperBlock">
                                    <div>
                                        <input type="radio" id="payment-formsPointsPay" name="payMethod">
                                        <label for="payment-formsPointsPay" class="settings_section_label">PointsPay</label>
                                    </div>
                                    <img src="../img/pointspay.png" alt="">
                                </div>
                            </div>
                            <div class="buy_section">
                                <div class="priceInfoWrapper">
                                    <span>You Pay</span>
                                    <p>AED <%=totprice%></p>
                                </div>
                                <button type="submit" class="btn form1_btn" id="placeOrderBtn">PLACE ORDER</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div> 
        </div>
    </main>
    <%- include('footer') %>
</body>
</html>