<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shopping | Mobiles, Electronics & Appliances - Sharaf DG UAE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,500;6..12,600;6..12,700&family=Ubuntu&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/section-style.css">
    <link rel="stylesheet" href="assets/css/itc-slider.css">
    <link rel="stylesheet" href="assets/css/accordion.css">  
</head>
<body>
    <script src="assets/js/itc-slider.js" defer></script>
    <script src="assets/js/animated-accordion.js" defer></script>
    <header class="header">
        <div class="container header_container">
            <div class="navbar-header">
                <a href="">
                    <img src="img/sharaf-dg-uae-logo.svg" alt="" class="navbar-header-sharaf-logo">
                </a>
                <div class="navbar-search">
                    <form action="" class="navbar-search-form">
                        <a href="">
                            <img src="img/loupe.png" alt="" class="search-form-loupe-logo">
                        </a>
                        <input type="text" class="search-form-text-input" placeholder="Search Sharaf DG">
                    </form>
                    <a href="" class="header-euronics">
                        <img src="img/euronics-group.png" alt="" class="header-euronics-logo">
                    </a>
                </div>
                <div class="navbar-flag">
                    <img src="img/lang-icon.png" alt="" class="navbar-flag-logo">
                    <div class="navbar-flag-text">EN</div>
                </div>
                <div class="navbar-login">
                    <a href="">
                        <div class="navbar-login-wrapper">
                            <img src="img/Sign-logo.png" alt="" class="login-logo">
                            <span class="signin-text">SIGN IN</span>
                        </div>
                    </a>
                </div>
                <div class="cartview">
                    <img src="img/cart.png" alt="" class="navbar-header-cart-logo">
                </div>
            </div>
        </div>
        <div class="navbar">
            <div class="container">
                <div class="navigation-menu_wrapper">
                    <ul class="navigation-menu list-inline">
                        <li>
                            <span class="navigation-menu__item-title">Shop by category</span>
                            <img src="" alt="">
                        </li>
                        <li class="sdg_top__menu"><a href="">DEALS</a></li>
                        <li class="sdg_top__menu"><a href="">BRANDS</a></li>
                        <li class="sdg_top__menu"><a href="">DG MEMBER</a></li>
                        <li class="sdg_top__menu"><a href="">THE DG STORE</a></li>
                        <li class="sdg_top__menu"><a href="">WARRANTY</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="container main_container">
            <div class="product_wrapper">
                <div class="breadcrumb-wrapper">
                    <ul class="woocommerce-breadcrumb">
                        <li class="breadcrumb-first"><a href="">Online Shopping /</a></li>
                        <li class="breadcrumb-section"><a href="">Buy the Latest Huawei Nova 11 Series Online</a></li>
                    </ul>
                </div>
                <h1 class="cat-h1">
                    Buy the Latest Huawei Nova 11 Series Online in UAE
                </h1>
                <div class="entry-content">
                    <div class="banner">
                        <a href="">
                            <img class="banner-img" src="https://uae.sharafdg.com/wp-content/uploads/sites/7/2023/09/Apple-NPI-iPhone15Pro-220923-BuyNow-ENBDLiv_07-HP-Mobile-EN.jpg" alt="">
                        </a>
                    </div>
                    <div class="banner">
                        <a href="">
                            <img class="banner-img" src="https://uae.sharafdg.com/wp-content/uploads/sites/7/2023/09/Apple-NPI-iPhone15-220923-BuyNow-ENBDLiv_07-HP-Mobile-EN-copy.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="shop_grid">
                    <div class="filter-wrp">
                    <div class="expressDelivery-wrp">

                    </div>
                    <div class="filter-container">
<!--                         <div class="filter-type">
                            <div class="filter-accordion">
                                <div class="filter-header">
                                    <span class="cat-name">Category</span>
                                    <img src="" alt="">
                                </div>
                                <div class="filter-collapse">

                                </div>
                            </div>
                        </div>
                        <div class="filter-type">
                            <div class="filter-accordion">
                                <div class="filter-header">
                                    <span class="cat-name">Brand</span>
                                    <img src="" alt="">
                                </div>
                                <div class="filter-collapse">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="filter-type">
                            <div class="filter-accordion">
                                <div class="filter-header">
                                    <span class="cat-name">Price</span>
                                    <img src="" alt="">
                                </div>
                                <div class="filter-collapse">
                                    
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="accordion" id="accordion-1">
                        <div class="accordion__item accordion__item_show">
                          <div class="accordion__header">
                            Заголовок 1
                          </div>
                          <div class="accordion__body">
                            Содержимое 1
                          </div>
                        </div>
                        <div class="accordion__item">
                          <div class="accordion__header">
                            Заголовок 2
                          </div>
                          <div class="accordion__body">
                          Содержимое 2
                          </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="grid-view">
                    <div class="clearfix"></div>
                    <div class="product-container">
                        <div class="product-wrapper" id="2">
                            <a href="">
                                <div class="sdg-ratio">
                                    <img src="https://pimcdn.sharafdg.com/cdn-cgi/image/width=300,height=300,fit=pad/images/iphone_15_pro_blue_titanium_1?1697376553" alt="" class="product-img">
                                </div>
                                <div class="product-name">
                                    <h4>Apple iPhone 15 Pro Max 256GB Blue Titanium with FaceTime – Middle East Version</h4>
                                </div>
                                <div class="rating">
                                    <div class="rating-stars" data-total-value="4">
                                        <div class="rating-item" data-item-value="5">★</div>
                                        <div class="rating-item" data-item-value="4">★</div>
                                        <div class="rating-item" data-item-value="3">★</div>
                                        <div class="rating-item" data-item-value="2">★</div>
                                        <div class="rating-item" data-item-value="1">★</div>
                                    </div>
                                    <div class="rating-count">(4.5)</div>
                                </div>
                                <div class="product-price">AED 6 049,00</div>
                            </a>
                        </div>
                        
                        <div class="product-wrapper" id="2">
                            <a href="">
                                <div class="sdg-ratio">
                                    <img src="https://pimcdn.sharafdg.com/cdn-cgi/image/width=300,height=300,fit=pad/images/iphone_15_pro_blue_titanium_1?1697376553" alt="" class="product-img">
                                </div>
                                <div class="product-name">
                                    <h4>Apple iPhone 15 Pro Max 256GB Blue Titanium with FaceTime – Middle East Version</h4>
                                </div>
                                <div class="rating">
                                    <div class="rating-stars" data-total-value="4">
                                        <div class="rating-item" data-item-value="5">★</div>
                                        <div class="rating-item" data-item-value="4">★</div>
                                        <div class="rating-item" data-item-value="3">★</div>
                                        <div class="rating-item" data-item-value="2">★</div>
                                        <div class="rating-item" data-item-value="1">★</div>
                                    </div>
                                    <div class="rating-count">(4.5)</div>
                                </div>
                                <div class="product-price">AED 6 049,00</div>
                            </a>
                        </div>

                        <div class="product-wrapper" id="2">
                            <a href="">
                                <div class="sdg-ratio">
                                    <img src="https://pimcdn.sharafdg.com/cdn-cgi/image/width=300,height=300,fit=pad/images/iphone_15_pro_blue_titanium_1?1697376553" alt="" class="product-img">
                                </div>
                                <div class="product-name">
                                    <h4>Apple iPhone 15 Pro Max 256GB Blue Titanium with FaceTime – Middle East Version</h4>
                                </div>
                                <div class="rating">
                                    <div class="rating-stars" data-total-value="4">
                                        <div class="rating-item" data-item-value="5">★</div>
                                        <div class="rating-item" data-item-value="4">★</div>
                                        <div class="rating-item" data-item-value="3">★</div>
                                        <div class="rating-item" data-item-value="2">★</div>
                                        <div class="rating-item" data-item-value="1">★</div>
                                    </div>
                                    <div class="rating-count">(4.5)</div>
                                </div>
                                <div class="product-price">AED 6 049,00</div>
                            </a>
                        </div>

                        <div class="product-wrapper" id="2">
                            <a href="">
                                <div class="sdg-ratio">
                                    <img src="https://pimcdn.sharafdg.com/cdn-cgi/image/width=300,height=300,fit=pad/images/iphone_15_pro_blue_titanium_1?1697376553" alt="" class="product-img">
                                </div>
                                <div class="product-name">
                                    <h4>Apple iPhone 15 Pro Max 256GB Blue Titanium with FaceTime – Middle East Version</h4>
                                </div>
                                <div class="rating">
                                    <div class="rating-stars" data-total-value="4">
                                        <div class="rating-item" data-item-value="5">★</div>
                                        <div class="rating-item" data-item-value="4">★</div>
                                        <div class="rating-item" data-item-value="3">★</div>
                                        <div class="rating-item" data-item-value="2">★</div>
                                        <div class="rating-item" data-item-value="1">★</div>
                                    </div>
                                    <div class="rating-count">(4.5)</div>
                                </div>
                                <div class="product-price">AED 6 049,00</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>